@import "../styles/material";

* {
  box-sizing: border-box;
}

:host {
  position: relative;
  height: 100%;
}

.splash {
  background-repeat: no-repeat;
  background-position: 50%;
  /*background-image: url(images/splash.svg);*/
}

.splash.wide {
  background-size: 512px;
}

#logged-in-user-badge {
  height: 50px;
  line-height: 50px;
  img, span {
    vertical-align: middle;
  }
  img {
    margin-right: 0.6em;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  margin-bottom: 2em;
}

#hamburger {
  /deep/ iron-icon {
    width: 30px !important;
    height: 30px !important;
  }
  position: absolute;
  top: 16px;
}

app-route > :last-child, #hamburger {
  @include md-horizontal-margins;
}

[selected="main"] #hamburger {
  z-index: 1;
}

[drawer] {
  background: white;
  padding: 2em 3em;
}