@import "../styles/material";

:host {
  position: relative;
  height: 100%;

  @apply(--layout);
  @apply(--layout-fit);
  @apply(--layout-vertical);
}

.splash {
  background-repeat: no-repeat;
  background-position: 50%;
  /*background-image: url(images/splash.svg);*/
}

.splash.wide {
  background-size: 512px;
}

#hamburger {
  /deep/ iron-icon {
    width: 30px !important;
    height: 30px !important;
  }
  position: absolute;
  top: 16px;
  left: 16px;
}

app-route > :last-child {
  @include md-horizontal-margins;
}

[selected="main"] #hamburger {
  z-index: 1;
}